@import '@wiki/styles/tokens.css';

/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding and border are included in element's width/height */
}

body {
  background-color: var(
    --color-background
  ); /* Use your design token for background */
  color: var(--color-text-primary); /* Use your design token for text color */
  font-family: var(--font-family-sans); /* Use your design token for font */
  line-height: 1.6; /* Improve readability */
}
