@import '@wiki/styles/tokens.css';

.column {
    display: flex;
    flex-direction: column;
}

.gap-1 {
    gap: var(--spacing-xs);
}

.gap-2 {
    gap: var(--spacing-sm);
}

.gap-3 {
    gap: var(--spacing-md);
}

.gap-4 {
    gap: var(--spacing-lg);
}

.gap-5 {
    gap: var(--spacing-xl);
}