@import '@wiki/styles/tokens.css';

.wrapper {
  padding: var(
    --spacing-10
  ); /* Ensure the wrapper covers the full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
}
