@import '@core/styles/tokens.css';

/* Variants for color */
.text-variant-primary {
  color: var(--color-text-primary);
}
.text-variant-secondary {
  color: var(--color-text-secondary);
}
.text-variant-success {
  color: var(--color-text-success);
}

.text-variant-warning {
  color: var(--color-text-warning);
}

.text-variant-error {
  color: var(--color-text-error);
}

/* Font weights */
.text-weight-thin {
  font-weight: var(--font-weight-thin);
}

.text-weight-light {
  font-weight: var(--font-weight-light);
}

.text-weight-regular {
  font-weight: var(--font-weight-regular);
}

.text-weight-medium {
  font-weight: var(--font-weight-medium);
}

.text-weight-semi-bold {
  font-weight: var(--font-weight-semi-bold);
}

.text-weight-bold {
  font-weight: var(--font-weight-bold);
}

.text-weight-black {
  font-weight: var(--font-weight-black);
}

/* Font sizes */
.text-size-sm {
  font-size: var(--font-size-sm);
}

.text-size-md {
  font-size: var(--font-size-md);
}

.text-size-lg {
  font-size: var(--font-size-lg);
}

.text-size-xl {
  font-size: var(--font-size-xl);
}

/* Font height */
.text-line-height-sm {
  line-height: var(--line-height-sm);
}
.text-line-height-md {
  line-height: var(--line-height-md);
}
.text-line-height-lg {
  line-height: var(--line-height-lg);
}

/* Font family */
.text-font-family-primary {
  font-family: var(--font-family-primary);
}
.text-font-family-secondary {
  font-family: var(--font-family-secondary);
}
