.richTextEditorContainer {
  position: relative;
}

.richTextEditor {
  /* TODO turn these into global styles if I need to */
  height: 90vh;
  width: 80vw;
  padding: var(--spacing-2);
  outline: none;
  border: var(--border-width-md) solid var(--color-border);
}

.placeholder {
  position: absolute;
  top: var(--spacing-2);
  left: var(--spacing-2);
}
