@import '@wiki/styles/tokens.css';

.link {
  text-decoration: none;
  color: var(--color-text-primary);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
  padding: var(--spacing-2) var(--spacing-3);
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--color-hover);
}

.link:active {
  color: var(--color-focus);
}
