@import '@core/styles/tokens.css';

.link {
  text-decoration: none;
  color: var(--color-text-primary);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  padding: var(--spacing-1) var(--spacing-1);
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--color-hover);
}

.link:active {
  color: var(--color-focus);
}

.hamburger {
  background-color: var(--color-background-secondary);
  font-size: var(--font-size-xl);
  padding: var(--spacing-1) var(--spacing-1);
  border-radius: var(--border-radius-sm);
}
